<h1>トップページ</h1>
<% if user_signed_in?%>
  <h2>ログインしています</h2>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <h2>ログインしていません</h2>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
<header>
  <div class="header-contents">
    <div class="">
    </div>
  </div>
</header>
<div class="contents">
  <div class="mainVisual">
  </div>
<div>
<div class= "pict-reason">
FURIMAが選ばれる3つの理由
  <div class="pict-reason-01">
  </div>
  <div class="pict-reason-02">
  </div>
  <div class="pict-reason-03">
  </div>
</div>
<div class="topMiddleDl-pict">
</div>
  <%= image_tag('icon/icon-01.png') %>
  <%= image_tag('icon/icon-03.png') %>
  <%= image_tag('icon/icon-04.png') %>
<aside class="appBanner">
</aside>
<footer>
  <div class="footer__left">
    FURIMAについて
    会社概要（運営会社）
    プライバシーポリシー
    FURIMA利用規約
    ポイントに関する特約
  </div>
  <div class="footer__center">
    FURIMAを見る
    カテゴリー一覧
    ブランド一覧
  </div>
  <div class="footer__right">
    ヘルプ＆ガイド
    FURIMAガイド
    FURIMAロゴ用利用ガイドライン
    お知らせ
  </div>
</footer>
<%= link_to "#" do %>
  <div class="sellBtn">
    <span class="sellBtn__text">出品する</span>
    <%= image_tag 'icon/icon_camera.png', size: '54x54', class:"sellBtn_icon" %>
  </div>
<% end %>