<%= image_tag('logo/logo.png') %>
<%= image_tag('pict/bg-mainVisual-pict_pc.jpg') %>
<%= image_tag('pict/pict-reason-01.jpg') %>
<%= image_tag('pict/pict-reason-02.jpg') %>
<%= image_tag('pict/pict-reason-03.jpg') %>
<%= image_tag('pict/bg-topMiddleDl-pict.jpg') %>
<%= image_tag('pict/bg-appBanner-pict.jpg') %>
<footer>
  <div class="footer__left">
    FURIMAについて
    会社概要（運営会社）
    プライバシーポリシー
    FURIMA利用規約
    ポイントに関する特約
  </div>
  <div class="footer__center">
    FURIMAを見る
    カテゴリー一覧
    ブランド一覧
  </div>
  <div class="footer__right">
    ヘルプ＆ガイド
    FURIMAガイド
    FURIMAロゴ用利用ガイドライン
    お知らせ
  </div>
</footer>