<header>
  <div class="header-contents">
    <div class="header-contents__main">
      <h1 class="header-contents__main-icon">
        <%= link_to root_path  do %>
          <%= image_tag 'logo/logo.png', size: '140x41' %>
        <% end %>
      </h1>
    </div>
    <div class="header-contents__bottom">
      <ul class="bottomLeft">
        <li class="bottomLeft__category">
          <%= link_to "カテゴリー", "#", id: "categoryBtn" %>
          <%= link_to "ブランド", "#", id: "brandBtn" %>
        </li>
      </ul>
      <ul>
      </ul>
    </div>
  </div>
</header>

<div class="topContents">

<%# 以下、６つのセクション %>
<%# ①人生を変えるフリマアプリ %>
  <section class="mainVisual">
    <div class="mvContent">
      <h2 class="mvContent__title"><br>
        人生を変えるフリマアプリ
      </h2>
      <p class="mvContent__text">
        FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
      </p>
      <div class="mvContent__btn">
        <%= link_to "#", class: "appStoreBtn" do %>
          <%= image_tag 'logo/app-store.svg' %>
        <% end %>
        <%= link_to "#", class: "googlePlayBtn" do %>
          <%= image_tag 'logo/google-play.svg' %>
        <% end %>
      </div>
    </div>
  </section>

<%# ②FURIMAが選ばれる3つの理由 %>
  <section class= "pict-reason">
    <h2 class="pict-reason__title">
      FURIMAが選ばれる3つの理由
    </h2>
    <ul class="pict-reason__lists">
      <li class="prList">
        <div class="prList__image">
          <span class="prList__image--number">1</span>
          <%= image_tag 'pict/pict-reason-01.jpg' %>
        </div>
        <h3 class="prList__title">
          <span>3分</span>
          ですぐに出品
        </h3>
        <p class="prList__text">
          スマホで入力するだけで簡単に出品できる！
        </p>
      </li>
      <li class="prList">
        <div class="prList__image">
          <span class="prList__image--number">2</span>
          <%= image_tag 'pict/pict-reason-02.jpg' %>
        </div>
        <h3 class="prList__title">
          <span>シンプル</span>
          で使いやすい
        </h3>
        <p class="prList__text">
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class="prList">
        <div class="prList__image">
          <span class="prList__image--number">3</span>
          <%= image_tag 'pict/pict-reason-03.jpg' %>
        </div>
        <h3 class="prList__title">
          手数料
          <span>業界最安</span>
        </h3>
        <p class="prList__text">
          最大3%でお得に出品&購入！
        </p>
      </li>
    </ul>
  </section>

<%# ③会員数日本一 %>
  <section class="topMiddleDl">
    <div class="topMiddleDl-content">
      <h2 class="topMiddleDl-content__title">会員数日本一位</h2>
      </h2>
      <p class="topMiddleDl-content__text">
        FURIMAは、フリマアプリで最も人気。
        <br>
        出品・購入回数も業界最多です！
        <br>
        ほしかったあの商品に出会えるかもしれません。
      </p>
      <div class="topMiddleDl-content__btn">
        <%= link_to "#" do %>
          <%= image_tag 'logo/app-store.svg', class:"appStoreBtn" %>
        <% end %>
        <%= link_to "#", class: "googlePlayBtn" do %>
          <%= image_tag 'logo/google-play.svg' %>
        <% end %>
      </div>
    </div>
  </section>

<%# ④FURIMAの特徴 %>
  <section class="features">
    <h2 class="features__title">
      FURIMAの特徴
    </h2>
    <div class="features__contents">
      <section class="ftContent">
        <figure class="ftContent__img">
          <%= image_tag 'icon/icon-01.png' %>
        </figure>
        <h3 class="ftContent__title">
          簡単に売り買いできる
        </h3>
        <p class="ftContent__text">
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        </p>
      </section>
      <section class="ftContent">
        <figure class="ftContent__img">
          <%= image_tag 'icon/icon-03.png' %>
        </figure>
        <h3 class="ftContent__title">
          売上金は即日振り込みに対応
        </h3>
        <p class="ftContent__text">
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
        </p>
      </section>
      <section class="ftContent">
        <figure class="ftContent__img">
          <%= image_tag 'icon/icon-04.png' %>
        </figure>
        <h3 class="ftContent__title">
          様々な支払いに対応
        </h3>
        <p class="ftContent__text">
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        </p>
      </section>
    </div>
  </section>

<%# ⑤ピックアップカテゴリー %>
  <section class="pickup">
    <h2 class="pickup__title">
      ピックアップカテゴリー
    </h2>
    <div class="pickup-contents">
      <div class="pickup-contents__head">
        <%= link_to "#" do %>
          <h3 class="pickup-contents__head-title">新規投稿商品</h3>
        <% end %>
      </div>
      <div class="pickup-products">
        <div class="pickup-products__item">
          <%= link_to 'http://furima.tokyo/products/3' do %>
            <figure class="pickup-products__item-img">
              <%= image_tag 'pict/a007.png' %>
            </figure>
            <div class="pickup-products__item-content">
              <h3 class="pickup-products__item-content--name">product3</h3>
              <div class="pickup-products__item-content--detail">
                <ul>
                  <li>30000円</li>
                  <li>
                    <%= fa_icon("star") %>
                    0
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="pickup-products__item">
          <%= link_to 'http://furima.tokyo/products/2' do %>
            <figure class="pickup-products__item-img">
              <%= image_tag 'pict/a004.png' %>
            </figure>
            <div class="pickup-products__item-content">
              <h3 class="pickup-products__item-content--name">product2</h3>
              <div class="pickup-products__item-content--detail">
                <ul>
                  <li>20000円</li>
                  <li>
                    <%= fa_icon("star") %>
                    0
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="pickup-products__item">
          <%= link_to 'http://furima.tokyo/products/1' do %>
            <figure class="pickup-products__item-img">
              <%= image_tag 'pict/a001.png' %>
            </figure>
            <div class="pickup-products__item-content">
              <h3 class="pickup-products__item-content--name">product1</h3>
              <div class="pickup-products__item-content--detail">
                <ul>
                  <li>10000円</li>
                  <li>
                    <%= fa_icon("star") %>
                    0
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

<%# ⑥ピックアップブランド %>
  <section class="pickup">
    <h2 class="pickup__title">
      ピックアップブランド
    </h2>
    <div class="pickup-contents">
      <div class="pickup-contents__head">
        <%= link_to "#" do %>
          <h3 class="pickup-contents__head-title">アーカイバ</h3>
        <% end %>
      </div>
      <div class="pickup-products">
        <div class="pickup-products__item">
          <%= link_to 'http://furima.tokyo/products/3' do %>
            <figure class="pickup-products__item-img">
              <%= image_tag 'pict/a007.png' %>
            </figure>
            <div class="pickup-products__item-content">
              <h3 class="pickup-products__item-content--name">product3</h3>
              <div class="pickup-products__item-content--detail">
                <ul>
                  <li>30000円</li>
                  <li>
                    <%= fa_icon("star") %>
                    0
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="pickup-products__item">
          <%= link_to 'http://furima.tokyo/products/2' do %>
            <figure class="pickup-products__item-img">
              <%= image_tag 'pict/a004.png' %>
            </figure>
            <div class="pickup-products__item-content">
              <h3 class="pickup-products__item-content--name">product2</h3>
              <div class="pickup-products__item-content--detail">
                <ul>
                  <li>20000円</li>
                  <li>
                    <%= fa_icon("star") %>
                    0
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="pickup-products__item">
          <%= link_to 'http://furima.tokyo/products/1' do %>
            <figure class="pickup-products__item-img">
              <%= image_tag 'pict/a001.png' %>
            </figure>
            <div class="pickup-products__item-content">
              <h3 class="pickup-products__item-content--name">product1</h3>
              <div class="pickup-products__item-content--detail">
                <ul>
                  <li>10000円</li>
                  <li>
                    <%= fa_icon("star") %>
                    0
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

<%# aside部分 %>
<aside class="appBanner">
  <div class="appBanner-contents">
    <h2 class="appBanner-contents__title">
      だれでもかんたん、人生を変えるフリマアプリ
    </h2>
    <p class="appBanner-contents__text">
      今すぐ無料ダウンロード！
    </p>
    <div class="appBanner-contents__btn">
      <%= link_to "#", class: "appStoreBtn" do %>
        <%= image_tag 'logo/app-store.svg' %>
      <% end %>
      <%= link_to "#", class: "googlePlayBtn" do %>
        <%= image_tag 'logo/google-play.svg' %>
      <% end %>
    </div>
  </div>
</aside>

<footer>
  <ul class="footer-texts">
    <li class="footer-texts__content">
      <h2 class="footer-texts__content-title">
        FURIMAについて
      </h2>
      <ul>
        <li>
          <%= link_to "会社概要（運営会社）", "#" %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", "#" %>
        </li>
        <li>
          <%= link_to "FURIMA利用規約", "#" %>
        </li>
        <li>
          <%= link_to "ポイントに関する特約", "#" %>
        </li>
      </ul>
    </li>
    <li class="footer-texts__content">
      <h2 class="footer-texts__content-title">
        FURIMAを見る
      </h2>
      <ul>
        <li>
          <%= link_to "カテゴリー一覧", "#" %>
        </li>
        <li>
          <%= link_to "ブランド一覧", "#" %>
        </li>
      </ul>
    </li>
    <li class="footer-texts__content">
      <h2 class="footer-texts__content-title">
        ヘルプ＆ガイド
      </h2>
      <ul>
        <li>
          <%= link_to "FURIMAガイド", "#" %>
        </li>
        <li>
          <%= link_to "FURIMAロゴ利用ガイドライン", "#" %>
        </li>
        <li>
          <%= link_to "お知らせ", "#" %>
        </li>
      </ul>
    </li>
  </ul>
  <div class="footer-logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo/logo-white.png' %>
    <% end %>
  </div>
  <p>© FURIMA</p>
</footer>

<%# 画面右下のモーダル %>
<%= link_to "#" do %>
  <div class="sellBtn">
    <span class="sellBtn__text">出品する</span>
    <%= image_tag 'icon/icon_camera.png', size: '54x54', class:"sellBtn_icon" %>
  </div>
<% end %>