<div class="user-sign__in">
  <div class="header_sign__in__logo">
    <%= link_to root_path  do %>
      <%= image_tag 'logo/logo.png' %>
    <% end %>
  </div>

  <div class="user-sign__in__title">
    <p class="note">アカウントをお持ちでない方はこちら</p>
    <%= link_to "新規館員登録", new_user_registration_path, class:"blue-btn" %>
  </div>

  <div class="user-sign__up__form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="user-sign__up__form__content">
      <div class="field">
        <label>メールアドレス</label><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required:"required", class:"input-form" %>
      </div>

      <div class="field">
        <label>パスワード</label><br>
        <%= f.password_field :password, autocomplete: "current-password", required:"required", class:"input-form" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class:"red-btn" %>
      </div>
    <% end %>
    </div> <!-- user-sign__up__form__content -->
  </div> <!-- user-sign__up__form -->

  <%= render partial: 'devise/footer' %>
</div> <!-- user-sign__up -->
