<<<<<<< HEAD
%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in"
= render "devise/shared/links"
=======
.main
  .user-sign__in
    .header_sign__in__logo
      = link_to root_path  do
        = image_tag 'logo/logo.png'
    .user-sign__in__title
      %p.note アカウントをお持ちでない方はこちら
      = link_to "新規館員登録", new_user_registration_path, class:"blue-btn"
    .user-sign__up__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .user-sign__up__form__content
          .field
            %label メールアドレス
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", required:"required", class:"input-form"
          .field
            %label パスワード
            %br/
            = f.password_field :password, autocomplete: "current-password", required:"required", class:"input-form"
          .actions
            = f.submit "ログイン", class:"red-btn"
        / user-sign__up__form__content
    / user-sign__up__form
    = render partial: 'devise/footer'
  / user-sign__up
>>>>>>> master
