%footer
  %ul.footer-texts
    %li.footer-texts__content
      %h2.footer-texts__content-title
        FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    %li.footer-texts__content
      %h2.footer-texts__content-title
        FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧", "#"
        %li
          = link_to "ブランド一覧", "#"
    %li.footer-texts__content
      %h2.footer-texts__content-title
        ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer-logo
    = link_to root_path do
      = image_tag 'logo/logo-white.png'
  %p © FURIMA
= link_to "#" do
  .sellBtn
    %span.sellBtn__text 出品する
    = image_tag 'icon/icon_camera.png', class:"sellBtn__icon"