%nav.items__navbar
  %ul.item__navbar__content
    %li= link_to "FURIMA", root_path
    %li= fa_icon("angle-right")
    %li= link_to "ベビー・キッズ", root_path
    %li= fa_icon("angle-right")
    %li= link_to "ベビー服（男女兼用）〜95cm", root_path
    %li= fa_icon("angle-right")
    %li= link_to "アウター", root_path