.main
  %header.confirmation-header
    = link_to root_path  do
      = image_tag 'logo/logo.png'
  %main.confirmation-body
    %section.confirmation-contents
      %h2.confirmation-contents__title 購入内容の確認
      %section.confirmation-contents__inner
        .confirmation-contents__inner-item
          .confirmation-contents__inner-item--image
            = image_tag 'pict/a001.png'
          .confirmation-contents__inner-item--detail
            -# ↓機能実装時にitemsテーブルのnameを入れる
            %p.confirmation-contents__inner-item--detail-name pruduct1
            %p.confirmation-contents__inner-item--detail-price
              -# ↓機能実装時にitemsテーブルのpriceを入れる
              %span ¥10,000
              -# ↑場合分けあるいは計算するメソッドが必要?
              %span (税込)送料込み
      %section.confirmation-contents__inner
        .confirmation-contents__inner-buy
          = form_with(method: :POST) do |form|
            .purchase-table
              .purchase-table__label 支払い金額
              -# ↓機能実装時にitemsテーブルのpriceを入れる
              .purchase-table__price ¥10,000
            -# ↓機能実装時にif文でcard_idの値の有無で場合分け
            %section.pay-method
              .pay-method__inner
                %h3 支払い方法
                = link_to root_path do
                  %p.pay-method__inner-registration
                    = fa_icon 'plus-circle'
                    %span.pay-method__inner-registration--text
                      登録してください
            %section.shipping-address
              .shipping-address__inner
                %h3 配送先
                -# ↓機能実装時にroot_pathを該当編集ページのパスに変更
                = link_to '変更する', root_path, class:"change-address"
              .shipping-address__inner-info
                %p
                  -#  ↓機能実装時に= current_user.post_cord?に変更
                  〒123-4567
                  %br
                  -# ↓機能実装時に= current_user.prefecture_id + current_user.city + current_user.adderess + current_user.building?に変更
                  田中県 田中市 田中町田中123
                  %br
                  = current_user.last_name + " " + current_user.first_name
            .purchase-btn
              = form.submit id:"purchase-btn", value:"購入する"
  = render partial: 'devise/footer'
