= render partial: "items/header"
= render partial: "items/itemnav"

.main
  .show__main
    .show__main__content
      .show__main__content__top
        %h2.show__main__content__top__name 
          = @item.name
        .show__main__content__top__image
          - if @item.buyer_id.blank?
            %ul.maincontent__image
              %li= image_tag @images[0].image.url
            %ul.subcontent__image
              - @images.drop(1).each do |image|
                %li
                  = image_tag image.image.url
          - else
            = image_tag 'pict/sold_out.png', class: "maincontent__image"
        .show__main__content__price
          %span
            = "¥#{@item.price.to_s(:delimited)}"
          .show__main__content__price__detail
            %span （税込） 
            %span 送料込み
        .show__main__content__detail
          = @item.text
        .show__main__content__table
          %table
            %tbody
              %tr
                %th 出品者
                %td= @item.seller.nickname
              %tr
                %th カテゴリー
                %td
                  =link_to @item.category.name, '#'
                  %br
                  =link_to 'ベビー服（男女兼用）〜95cm', '#'
                  %br
                  =link_to 'アウター', '#'
              %tr
                %th ブランド
                %td=@item.brand
              %tr
                %th 商品のサイズ
                %td= @item.size
              %tr
                %th 商品の状態
                %td
                  = @item.condition
              %tr
                %th 配送料の負担
                %td
                  = @item.shipping_price
              %tr
                %th 発送元の地域
                %td=@item.prefecture_id
              %tr
                %th 発送日の目安
                %td 
                  = @item.shipping_days
        .show__main__content__option        
          %ul
            %li.option__btn#like__btn
              = fa_icon("star")
              =link_to 'お気に入り 225', '#'
          %ul.optional
            %li.optional__btn
              = fa_icon("flag")
              = link_to '不適切な商品の通報', '#'
        - if @item.buyer_id.present?
          %button.show__main__content__sold-out{disabled:""} SOLD OUT
        - elsif user_signed_in? == false
          = link_to "ログインして下さい", user_session_path, class:"show__main__content__purchase-btn"
        - elsif current_user.id == @item.seller_id
          .show__main__content__btn
            = link_to "編集する", edit_item_path(@item.id), class:"show__main__content__btn--edit"
            = link_to "削除する", item_path(@item.id), method: :delete, class:"show__main__content__btn--delete"
        - else
          = link_to "購入画面に進む", confirmation_card_path(@item.id), class:"show__main__content__purchase-btn"
      .show__main__content__comment
        %textarea#comment_body{name: "comment[body]", required: "required"}
        %p.comment__message 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br
        %button.commentBtn{name: "button", type: "submit"}
          =fa_icon("comment")
          コメントする
      .show__main__content__links
        %ul.links
          %li.links__left
            = fa_icon("angle-left")
            =link_to "前の商品", '#'
          %li.links__right
            = fa_icon("angle-right")
            =link_to "次の商品", '#'
      .show__main__content__items
        =link_to "ベビー・キッズをもっと見る", '#'




= render partial: "items/aside"
= render partial: "items/footer"