= render partial: "items/header"
= render partial: "items/itemnav"

.main
  .show__main
    .show__main__content
      .show__main__content__top
        %h2.show__main__content__top__name 
          prodact1
        .show__main__content__top__image
          %ul.maincontent__image
            %li= image_tag 'pict/item1.png'
          %ul.subcontent__image
            %li= image_tag 'pict/item1.png'
            %li= image_tag 'pict/item2.png'
            %li= image_tag 'pict/item3.png'
        .show__main__content__price
          %span ¥5,000
          .show__main__content__price__detail
            %span （税込） 
            %span 送料込み
        .show__main__content__detail
          親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。
        .show__main__content__table
          %table
            %tbody
              %tr
                %th 出品者
                %td ふりま太郎
              %tr
                %th カテゴリー
                %td
                  =link_to 'ベビー・キッズ', '#'
                  %br
                  =link_to 'ベビー服（男女兼用）〜95cm', '#'
                  %br
                  =link_to 'アウター', '#'
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 未使用に近い
              %tr
                %th 配送料の負担
                %td 送料込み（出品者負担）
              %tr
                %th 発送元の地域
                %td=link_to '岩手県', '#'
              %tr
                %th 発送日の目安
                %td 4-7日で発送
        .show__main__content__option        
          %ul
            %li.option__btn#like__btn
              = fa_icon("star")
              =link_to 'お気に入り 225', '#'
          %ul.optional
            %li.optional__btn
              = fa_icon("flag")
              =link_to '不適切な商品の通報', '#'
      .show__main__content__comment
        %textarea#comment_body{name: "comment[body]", required: "required"}
        %p.comment__message 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br
        %button.commentBtn{name: "button", type: "submit"}
          =fa_icon("comment")
          コメントする
      .show__main__content__links
        %ul.links
          %li.links__left
            = fa_icon("angle-left")
            =link_to "前の商品", '#'
          %li.links__right
            = fa_icon("angle-right")
            =link_to "次の商品", '#'
      .show__main__content__items
        =link_to "ベビー・キッズをもっと見る", '#'




= render partial: "items/aside"
= render partial: "items/footer"