= render partial: "items/header"
.wrapper__mypage
  = render partial: 'mypage/leftlist'
  .users-form 
    %h1 クレジットカード情報入力
    .information-content
      .user-informations
        .user-informations__card-number
          %label カード番号
          %span.form-required 必須
          %input{type: "text", placeholder:"半角数字のみ" }
          %ul.card-company
            %li.card-visa
              = image_tag("card/visa.svg" , size:"42x30")
            %li.card-master
              = image_tag("card/master-card.svg" , size:"42x30")
            %li.card-saison
              = image_tag("card/saison-card.svg" , size:"42x30")
            %li.card-jcb
              = image_tag("card/jcb.svg" , size:"42x30")
            %li.card-americanexpress
              = image_tag("card/american_express.svg" , size:"42x30")
            %li.card-diners
              = image_tag("card/dinersclub.svg" , size:"42x30")
            %li.card--discover
              = image_tag("card/discover.svg" , size:"42x30")
              
        .user-informations__expiration
          %label 有効期限
          %span.form-required 必須
          .user-informations__expiration__select-month
            %select#exp_month{name: "exp_month", type: "text", class:"select"}
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
            %span.month 月
            .user-informations__expiration__select__year
              %select#exp_year{name: "exp_year", type: "text" , class:"select"}
                %option{value: "2019"}19
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              %spam 年
              
          .user-informations__expiration__password
            %label
              セキリュティコード
            %span.form-required  必須
            %input{type: "text", placeholder:"カード背面４桁もしくは３桁の番号" }
            .user-informations__expiration__card-back
              %span.question ?
              カードの裏面の番号とは？
            .user-informations__expiration__card-security#card
              %text カードの裏面をご参照ください。
              =image_tag("card/seq-card_3.png" , size:"240x105",)
          %button.btn-default.btn-bule{:type => "submit"} 登録する
= render partial: "items/aside"
= render partial: "items/footer"