= render partial: "items/header"
.wrapper__mypage
  = render partial: 'mypage/leftlist'
  .users-form 
    %h1 クレジットカード情報入力
    .information-content
      .user-informations
        = form_with url: cards_path, method: :post, html: { name: "inputForm" }, id: 'charge-form' do |f|
          .user-informations__card-number
            = f.label :カード番号, class: 'label'
            %span.form-required 必須
            = f.text_field :card_number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
            %ul.card-company
              %li.card-visa
                = image_tag("card/visa.svg" , size:"42x30")
              %li.card-master
                = image_tag("card/master-card.svg" , size:"42x30")
              %li.card-saison
                = image_tag("card/saison-card.svg" , size:"42x30")
              %li.card-jcb
                = image_tag("card/jcb.svg" , size:"42x30")
              %li.card-americanexpress
                = image_tag("card/american_express.svg" , size:"42x30")
              %li.card-diners
                = image_tag("card/dinersclub.svg" , size:"42x30")
              %li.card--discover
                = image_tag("card/discover.svg" , size:"42x30")
                
          .user-informations__expiration
            = f.label :有効期限, class: 'label'
            %span.form-required 必須
            .user-informations__expiration__select-month
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
              %span.month 月
              .user-informations__expiration__select__year
                = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
                %spam 年
                
            .user-informations__expiration__password
              = f.label :セキュリティコード, class: 'label'
              %span.form-required  必須
              = f.text_field :cvc, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
              .user-informations__expiration__card-back
                %span.question ?
                カードの裏面の番号とは？
              .user-informations__expiration__card-security#card
                %text カードの裏面をご参照ください。
                =image_tag("card/seq-card_3.png" , size:"240x105",)
            = f.submit '登録する', class: 'content-bottom--add-btn', id: 'token_submit'
= render partial: "items/aside"
= render partial: "items/footer"