%h1 ブランド入力ページだよ
= form_for @brand do |f|
  = f.text_field :name, required:"required"
  = f.submit "登録"

%p 登録済みブランド一覧
- @brands.each do |brand|
  %tr
  %li
    %td= brand.name
    %td= link_to "編集", edit_brand_path(brand)
    %td= link_to "削除", brand_path(brand), method: :delete, id: "delete__btn"

=link_to "トップページへ戻る", root_path