= render partial: "items/header"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.wrapper__mypage
  = render partial: 'leftlist'
  = render partial: 'right-contents'
= render partial: "items/aside"
= render partial: "items/footer"
  
